<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    <div id="landing">

        <div class="landing-left">
          
        </div>

        <div id="landing-content">
            {{- partial "header.html" . -}}
            <section id="posts-container">
                <ul>
                    {{ range .Site.RegularPages.ByPublishDate.Reverse }}
                    <li class="post">
                        <a href="{{ .Permalink }}">
                            {{ .Title }}
                            <br />
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </section>
            {{- partial "footer.html" . -}}
        </div>
    </div>
</body>

</html>